@font-face {
  font-family: "Amazon Ember";
  src: url("http://db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot"); /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("http://db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff2")
      format("woff2"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.woff")
      format("woff"),
    /* chrome firefox */
      url("http://db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.ttf")
      format("truetype"),
    /* chrome firefox opera Safari, Android, iOS 4.2+*/
      url("http://db.onlinewebfonts.com/t/157c6cc36dd65b1b2adc9e7f3329c761.svg#Amazon Ember")
      format("svg"); /* iOS 4.1- */
}
* {
  font-family: "Amazon Ember" !important;
}
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.sidebarHeader {
  text-align: center;
}

.dasHeader {
  text-align: center;
}
.card-font-size {
  font-size: 1.5rem;
}
.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;
  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #4c4f54;
  color: #fff;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
/* #sidebar ul.components {
  padding: 5px 0px;
 
} */

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: white;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #fff;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #232f3e;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  /* padding-left: 20px !important; */
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
